.proNameLink{
    text-decoration: none;
    color: black;
}
.proNameLink:hover{
    font-weight: bold;
    color: #4a55a2;
}

.countBtn {
    border: none;
    border-radius: 5px;
    background: #4a55a2;
    color: white;
    margin: 0 5px;
    padding: 0;
    width: 35px;
    height: 35px;
}

.deleteBtn {
    border: none;
    border-radius: 5px;
    background: #4a55a2;
    color: white;
    /* margin: 0 5px; */
    padding: 0;
    width: 50px;
    height: 35px;
}

.orderInfo {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background: #fff;
    border: 1px solid #4a55a2;
    border-radius: 10px;
    padding: 15px;
    text-align: start;
}

.bold {
    font-weight: bold;
}

.orderInfo ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    color: gray;
}

.listData {
    float: right;
}

.orderInfo button {
    width: 100%;
    border: none;
    background: #4a55a2;
    color: white;
    height: 40px;
    border-radius: 10px;
}