.thumbnail img {
    width: 80px;
    height: 80px;
}


.cartbtn {
    margin-top: 30px;
    background: #4A55A2;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.form {
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
    color: #4A55A2;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContents {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.formContents div {
    display: flex;
    margin-bottom: 15px;
}

.formContents select {
    width: 30%;
    border: 1px solid rgb(219, 213, 213);
    border-radius: 8px;
    margin-right: 30px;
}

.form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
}

.form textarea {
    border-radius: 8px;
    height: 150px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
}

.form button {
    align-self: flex-end;
    padding: 8px 30px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: #4A55A2;
    color: #fff;
    cursor: pointer;
}

/*상품평 리스트*/
.reviewList {
    box-shadow: 0px 10px 15px 0px #E0E0E0;
}

.reviewList thead {
    background: #eeeeee;
}

.reviewList th {
    padding: 20px 10px;
}

.reviewList tbody td {
    border-bottom: 1px solid rgb(219, 213, 213);
    padding: 10px 0;
}

.reviewList ul {
    list-style: none;
    text-align: start;
    margin: 30px 30px;
    padding: 0;
}

.reviewList li {
    border-bottom: 1px solid rgb(219, 213, 213);
    border-collapse: collapse;
    padding: 10px;
}

/**/